@font-face {
  font-family: Quicksand;
  src: url("..\\quantum screen assets\\Quicksand font 1\\static\\Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksand;
  src: url("..\\quantum screen assets\\Quicksand font 1\\static\\Quicksand-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Quicksand;
  src: url("..\\quantum screen assets\\Quicksand font 1\\static\\Quicksand-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Quicksand;
  src: url("/quantum screen assets/Quicksand font 1/static/Quicksand-Medium.ttf");
  font-weight: 500;
}
